<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'icon.png' %}" />
    <title>PopCornTime</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    
</head>
<body>
    <div class="dashboard">
        <a href="{% url 'home' %}" class="home-button">
            <h1>PopCornTime</h1>
            <img src="{% static 'logo.png' %}" alt="Logo" class="cinema-logo">
        </a>
        <div>
            <form method="GET" class="search-form">
            <input type="text" name="search" value="{{ query }}" placeholder="Meklēt pēc filmas nosaukumu">
            <button type="submit">🔍︎</button>
            </form>
        </div>
        <div>
            <label class="theme-switcher" onclick="switchTheme()">🔄</label>
        </div>
    </div>
    
    <div class="session-container">
        {% for session in sessions %}
            <div class="session-card">
                <div class="card-content">
                    <div class="img-container">
                        <img src="{{ session.movie.image }}" alt="{{ session.movie.title }}">
                    </div>
                    <h2>{{ session.movie.title }}</h2>
                    <p class="details">
                        <span><strong>Sākums:</strong> {{ session.start_time|date:"H:i" }}</span>
                        <span><strong>Beigas:</strong> {{ session.end_time|date:"H:i" }}</span>
                    </p>
                    <p><strong>Zalē:</strong> {{ session.hall.name }}</p>
                    {% load custom_filters %}
                    <p><strong>Brīvas vietas:</strong> {{ session.hall.max_seats|subtract:session.viewers }} / {{ session.hall.max_seats }}</p>

                    <p class="price"><strong>Cena:</strong> {{ session.price }} €</p>
                    <p><strong>Apraksts:</strong></p> 
                    <p>{{ session.movie.description }}</p>
                </div>
                <button class="book-ticket">Pirkt biļeti</button>
            </div>
        {% empty %}
            <p>No sessions found.</p>
        {% endfor %}
    </div>
   
    <script>
        function switchTheme() {
            const root = document.documentElement;
            const currentBgColor = root.style.getPropertyValue('--bg-color');

            if (currentBgColor === 'white') {
                
                root.style.setProperty('--bg-color', '#696969');
                root.style.setProperty('--text-color', 'white');
                root.style.setProperty('--dashboard-bg-color', 'black');
                root.style.setProperty('--dashboard-text-color', 'white');
                root.style.setProperty('--session-card-bg-color', '#e8e8e8');
                root.style.setProperty('--theme-switcher-bg-color', 'black');
            } else {
                
                root.style.setProperty('--bg-color', 'white');
                root.style.setProperty('--text-color', 'black');
                root.style.setProperty('--dashboard-bg-color', '#f0f0f0');
                root.style.setProperty('--dashboard-text-color', 'black');
                root.style.setProperty('--session-card-bg-color', '#f9f9f9');
                root.style.setProperty('--theme-switcher-bg-color', '#f0f0f0');
            }
        }
    </script>
</body>
</html>